.tile {
  width: 87.5px;
  height: 87.5px;
  display: grid;
  place-content: center;
}

.black-tile {
  background-color: #6e2c00;
}

.white-tile {
  background-color: #fcf3cf;
}

.tile img {
  width: 70px;
}
