.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: #6e2c00;
}

.white-tile {
  background-color: #fcf3cf;
}

.tile img {
  width: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 50%;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(-18.8px);
  -webkit-backdrop-filter: blur(-18.8px);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: " ";
  width: 97px;
  height: 97px;
  border-radius: 50%;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.45); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(-18.8px);
  -webkit-backdrop-filter: blur(-18.8px);
  border: 1px solid rgba(255, 255, 255, 0.37);
}
