.tile {
  width: 87.5px;
  height: 87.5px;
  display: grid;
  place-content: center;
}

.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}

.black-tile {
  background-color: #6e2c00;
}

.white-tile {
  background-color: #fcf3cf;
}

.tile img {
  width: 70px;
}
