#chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  background-color: green;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#pawn-promotion-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#pawn-promotion-modal > .modal-body {
  background-color: blueviolet;
  height: 400px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.74);
}

#pawn-promotion-modal > .modal-body > img {
  height: 150px;
  width: 150px;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

#pawn-promotion-modal > .modal-body > img:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50px;
}
