* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  place-content: center;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #b5b9c2,
    #c2cbd1,
    #d3ddde,
    #e7eeec,
    #fcfffc
  );
}
